@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton&display=swap');
body {
    background-color: #F6F6F6;
}

h1 {
    font-family: 'Anton', sans-serif;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    border-bottom: 2px black solid;
    color: white !important;
}


.section-title .subtitle {
    color: #a9a3a3;
    letter-spacing: 7px;
    position: relative;
}

.section-title .subtitle:before, .section-title .subtitle:after {
    content: ".";
    font-size: 70px;
    left: -45px;
    pointer-events: none;
    position: absolute;
    text-shadow: rgba(0, 0, 0, 0) 0px 0px;
    top: -10px;
    line-height: 0;
    color: red;
    text-shadow: 15px 0 red;
}

.section-title .subtitle:after {
    right: -28px;
    left: inherit;
}

.section-title h2 {
    font-size: 55px;
    font-weight: 300;
    color: #333333;
}

.section-title h2 span {
    font-weight: 700;
}

.section-title-2 h2 {
    font-size: 38px;
    color: #333333;
    font-weight: 300;
    position: relative;
}

.section-title-2 h2 span {
    font-weight: 700;
}

.section-title-2 h2:after {
    position: absolute;
    content: '';
    bottom: -20px;
    height: 2px;
    width: 50px;
    left: 0;
    background-color: red;
}

.col-form-label {
    font-weight: bold;
}

.iconRed {
    color: red;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.divBlock {
    background-image: url("../images/block.png");
    background-position: center;

}
.divBlockRed {
    background-image: url("../images/block2.png");
    background-position: center;
}
.border-5 {
    border: solid white 5px;
}
.jobTitle {
    font-family: 'Abril Fatface', cursive;
}